# Default ignored files
/shelf/
/workspace.xml
# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# --------------------
# IDE (PyCharm / IntelliJ)
# --------------------
.idea/
*.iml

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log
